<template>
    <v-container>
      <v-form>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="title"
            label="Judul Blogs"
            required
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
          <!-- <v-file-input
            v-model="photo"
            counter
            label="Blog Photo"
            accept="image/*"
            show-size
            truncate-length="15">
        </v-file-input> -->
        </v-col>
      </v-row>
      <v-row>
        <v-col
        >
          <v-textarea
          v-model="description"
          label="Blog Description"
          hint="Hint text"
        ></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-btn
      class="mx-2"
      fab
      dark
      color="indigo"
      @click="addBlog"
    >
      <v-icon dark>
        mdi-plus
      </v-icon>
    </v-btn>
    <v-btn
      class="mx-2"
      fab
      dark
      color="red"
      to="/"
    >
      <v-icon dark>
        mdi-close
      </v-icon>
    </v-btn>
      </v-row>
  </v-form>
    </v-container>
</template>
<script>
import { mapGetters, mapActions} from 'vuex';
export default {
  data: () => ({
      title: '',
      description: '',
      photo: [],
      apiDomain : "https://demo-api-vue.sanbercloud.com"
    }),
    methods : {
      addBlog(){
                      let formData = new FormData()
                        formData.append('title', this.title)
                        formData.append('description', this.description)
                        // formData.append('photo', this.photo)
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog",
                headers : {'Authorization': 'Bearer' + this.token},
                data : formData
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log('success')
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog Berhasil ditambahkan',
                })
            })
            .catch((response)=>{
              console.log('gagal')
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
        },
        ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken',
    })
    },
    computed : {
      ...mapGetters({
      guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
     mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
}
</script>