<template>
    <v-flex>
    <v-btn
      class="mx-2"
      fab
      dark
      color="success"
      to="/"
    >
      <v-icon dark>
        mdi-arrow-left
      </v-icon>
    </v-btn>
    <v-card
        class="mx-auto"
        max-width="1300"
        v-if="blog.id"
    >
        <v-img
        class="white--text align-end"
        height="300px"
        :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
        style="margin-top: 10px"
        >
        <v-card-title v-text="blog.title"></v-card-title>
        </v-img>

        <v-card-text class="text--primary">
            <v-simple-table dense>
            <tbody>
                <tr>
                    <td><v-icon>mdi-format-title</v-icon> Judul</td>
                    <td class="blue--text">{{blog.title}}
                    </td>
                </tr>
                <tr>
                    <td><v-icon>mdi-note</v-icon> Deskripsi</td>
                    <td>
                        {{blog.description}}
                    </td>
                </tr>
            </tbody>
            </v-simple-table>
        </v-card-text>

        <v-card-actions>
        <v-btn
            color="orange"
            text
            @click="hapus"
        >
            HAPUS
        </v-btn>

        <v-btn
            color="orange"
            text
            @click="edit"
        >
            EDIT
        </v-btn>
        <v-btn
            color="orange"
            text
            @click="upload"
        >
            UPLOAD
        </v-btn>
        </v-card-actions>
    </v-card>
    </v-flex>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    data: () => ({
        blog: {},
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
    }),

    methods: {
        go() {
            let {id} = this.$route.params;

            const config = {
                method : 'get',
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }
            this.axios(config)
            .then(response => {
                let {blog} = response.data;
                console.log(blog.photo)
                this.blog=blog;
            })
            .catch(error => {
                console.log(error);
            });
        },
        hapus(){
            this.setDialogComponent({'component' : 'hapus',
                                      'params' :  this.blog.id
                                    })
        },
        edit(){
            this.setDialogComponent({'component' : 'edit',
                                      'params' :  this.blog
                                    })
        },
        upload(){
            this.setDialogComponent({'component' : 'upload',
                                      'params' :  this.blog.id
                                    })
        },
        ...mapActions({
        setDialogComponent : 'dialog/setComponent',
        })  
        },
        created(){
            this.go();
        }

}
</script>