<template>
  <v-container grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/add-blog" class="blue--text"
      style="margin-bottom: 15px">
        <v-icon style="margin-right: 5px">mdi-plus-circle</v-icon> Tambah Blogs
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-component
      v-for="blog in blogs"
      :key="`blog-`+blog.id"
      :blog="blog">
      </blog-component>
    </v-layout>
    <v-pagination
    v-model="page"
    @input="go"
    :length="lengthPage"
    :total-visible="4"
    >
    </v-pagination>
  </v-container>
</template>
<script>
import BlogItemComponent from '../components/BlogItemComponent.vue'
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
  }),
  components: {
    'blog-component' : BlogItemComponent
  },
  created(){
    this.go()
  },
  methods : {
    go(){
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog?page=" + this.page
      };

      this.axios(config)
      .then(response =>{
        let {blogs} = response.data
        this.blogs = blogs.data
        this.page = blogs.current_page
        this.lengthPage = blogs.last_page
        this.perPage = blogs.per_page
        console.log(this.blogs);
      })
      .catch(
        error => {
          console.log(error);
        });
    }
  }
};
</script>