<template>
  <v-container grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component
      v-for="blog in blogs"
      :key="`blog-`+blog.id"
      :blog="blog">
      </blog-item-component>
    </v-layout>
    <v-pagination
        v-model="page"
        @input="hal"
        :length="lengthPage"
        :total-visible="4"
    >
    </v-pagination>
    </v-container>
</template>
<script>

import BlogItemComponent from '../components/BlogItemComponent.vue'
import {mapMutations,mapGetters} from 'vuex'

export default {
  data: () => ({
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
  }),
  components : {
    'blog-item-component' : BlogItemComponent
  },
  computed : {
    // count(){
    //   return this.$store.getters.count
    // }
    ...mapGetters({
    // map `this.doneCount` to `this.$store.getters.doneTodosCount`
    'count': 'counter/count'
})
  },
  methods : {
    go(){
      const config = {
      method : 'get',
      url : this.apiDomain + '/api/v2/blog/random/8'
    }

    this.axios(config)
    .then(response => {
      let {blogs} = response.data;
      this.blogs = blogs;

      console.log(this.blogs)
    })
    .catch(error=> {
      console.log(error);
    });
    },
    // increment(payload){
    //   this.$store.commit('increment', payload)
    // }
    ...mapMutations({
      'increment' : 'counter/increment'
    }),

    hal(){
            const config = {
                method: "get",
                url: this.apiDomain + "/api/v2/blog?page=" + this.page
            };

            this.axios(config)
            .then(response =>{
                let {blogs} = response.data
                this.blogs = blogs.data
                this.page = blogs.current_page
                this.lengthPage = blogs.last_page
                this.perPage = blogs.per_page
                console.log(this.blogs);
            })
            .catch(
                error => {
                console.log(error);
            });
        },
  },
  created(){
    this.go()
  }
};
</script>