<template>
  <v-container class="grey lighten-5">
            <p align="center">Author of this Website</p>
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <v-card class="mx-auto ml-2" max-width="434" tile>
          <v-hover
          v-slot:default="{hover}"
          >
          <v-img max-height="250"
          max-width="400"
          src="http://prodihumas.upnyk.ac.id/asset/images/PRODI_HUMAS_UPN_YOGYA_gedung_rektorat_panglima_besar_jenderal_soedirman.jpg">
            <v-row align="end" class="fill-height">
              <v-col align-self="start" class="pa-0" cols="12">
                <v-avatar class="profile" color="grey" size="164" tile>
                  <v-img src="../assets/adib.jpg" alt="photo"></v-img>
                </v-avatar>
              </v-col>
              <v-col class="py-0">
                <v-list-item color="rgba(0, 0, 0, .4)" dark>
                  <v-list-item-content>
                    <v-overlay v-if="hover"
                    absolute>
                    <v-list-item-title class="title">
                      Adib Bachtiar
                    </v-list-item-title>
                    <v-list-item-subtitle>Mahasiswa UPNVY</v-list-item-subtitle>
                    </v-overlay>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-img>
          </v-hover>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="mx-auto ml-2" max-width="434" tile>
          <v-hover
          v-slot:default="{hover}"
          >
          <v-img
          max-height="250"
          max-width="400"
          src="https://img.okezone.com/content/2020/01/06/65/2149727/universitas-brawijaya-siap-terima-14-000-maba-di-2020-LfZHR5mQHi.jpg">
            <v-row align="end" class="fill-height">
              <v-col align-self="start" class="pa-0" cols="12">
                <v-avatar class="profile" color="grey" size="164" tile>
                  <v-img src="../assets/rully.jpg" alt="photo"></v-img>
                </v-avatar>
              </v-col>
              <v-col class="py-0">
                <v-list-item color="rgba(0, 0, 0, .4)" dark>
                  <v-list-item-content>
                    <v-overlay v-if="hover"
                    absolute>
                    <v-list-item-title class="title">
                      Rully Afrizal
                    </v-list-item-title>
                    <v-list-item-subtitle>Mahasiswa UB</v-list-item-subtitle>
                    </v-overlay>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-img>
          </v-hover>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="mx-auto ml-2" max-width="434" tile>
          <v-hover
          v-slot:default="{hover}"
          >
          <v-img
          max-height="250"
          max-width="400"
          src="http://tangerangnews.com/assets/uploaded/photo/2019/08/03/a46a847b3a249115e8c6af10b38903e2.jpg">
            <v-row align="end" class="fill-height">
              <v-col align-self="start" class="pa-0" cols="12">
                <v-avatar class="profile" color="grey" size="164" tile>
                  <v-img src="../assets/wahyu.jpg" alt="photo"></v-img>
                </v-avatar>
              </v-col>
              <v-col class="py-0">
                <v-list-item color="rgba(0, 0, 0, .4)" dark>
                  <v-list-item-content>
                    <v-overlay v-if="hover"
                    absolute>
                    <v-list-item-title class="title">
                      Wahyu Rahmat Fajar
                    </v-list-item-title>
                    <v-list-item-subtitle>Mahasiswa UMT</v-list-item-subtitle>
                    </v-overlay>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-img>
        </v-hover>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
    data : () =>({
        // authors : [
        //   {
        //     name : 'Adib Bachtiar',
        //     photo : "../assets/adib.jpg",
        //     job : 'sanbercode student'
        //   },
        //   {
        //     name : 'Wahyu Rahmat Fajar',
        //     photo : 'https://www.formula1.com/content/fom-website/en/drivers/lando-norris/_jcr_content/image.img.1920.medium.jpg/1616675716914.jpg',
        //     job : 'sanbercode student'
        //   },
        //   {
        //     name : 'Rully Afrizal',
        //     photo : 'https://www.formula1.com/content/fom-website/en/drivers/max-verstappen/_jcr_content/image.img.1920.medium.jpg/1616676511153.jpg',
        //     job : 'sanbercode student'
        //   },
        // ],


    }),
}
</script>