<template>
<v-flex>
  <v-card
    class="mx-auto"
    width="300"
    style="margin-bottom: 50px"
  >
    <v-img
      :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
      class="white--text"
      height="200px"
    ></v-img>

    <v-card-title v-text="blog.title">
    </v-card-title>

    <v-card-actions>
      <v-btn
        color="orange lighten-2"
        text
        :to="'/blog/' + blog.id"
      >
        More Details
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="show = !show"
      >
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text
          v-text="blog.description"
        ></v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</v-flex>

</template>
<script>
export default {
    data : () =>({
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        show : false
    }),
    props : ['blog']
}
</script>