<template>
    <v-card>
      <div style="min-height: 4px;">
      </div>
        <v-card-title>
          <span class="headline"> <v-icon>mdi-account</v-icon> EDIT BLOGS</span>
        </v-card-title>
        <v-card-text>
          <v-container>
              <v-form>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="title"
                label="Title"
                required
                append-icon="mdi-email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
          v-model="description"
          label="Blog Description"
          hint="Hint text"
        ></v-textarea>
              </v-col>
            </v-row>
              </v-form>
          </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="success darken-1"
            text
            @click="edit"
          >
            Edit Blog
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
     data: () => ({
      apiDomain : "https://demo-api-vue.sanbercloud.com",
      title : '',
      description : ''
    }),
    methods : {
        close(){
            this.$emit('closed',false)
        },
        edit(){
          let id = this.params.id
          let formData = new FormData()
                        formData.append('title', this.title)
                        formData.append('description', this.description)
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog/"+id,
                headers : {'Authorization': 'Bearer ' + this.token},
                params : {_method : "PUT"},
                data : formData
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log('success')
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog Berhasil diedit',
                })
                this.close()
                this.$router.go(-1)
                })
            .catch((response)=>{
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
        },
         ...mapActions({
          setAlert : 'alert/set',
          setToken : 'auth/setToken',
          setUser : 'auth/setUser',
          checkToken : 'auth/checkToken',
    }),
    },
    computed : {
        ...mapGetters({
    params : 'dialog/params',
    guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
    mounted(){
    if(this.token){
      this.checkToken(this.token)
      this.title = this.params.title
      this.description = this.params.description
    }
  },
//   created(){
//       this.title = this.params.title
//       this.description = this.params.description
//   }
}
</script>