<template>
    <v-card>
        <v-card-title class="headline red--text">
          Hapus Blog?
        </v-card-title>
        <v-card-text>Blog yang sudah anda tulis tidak bisa ditarik kembali</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error darken-1"
            text
            @click.native="close"
          >
            Tidak Setuju
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="hapus"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
     data: () => ({
      apiDomain : "https://demo-api-vue.sanbercloud.com"
    }),
    methods : {
        close(){
            this.$emit('closed',false)
        },
        hapus(){
          let id = this.params
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog/"+id,
                headers : {'Authorization': 'Bearer' + this.token},
                params : {_method : "DELETE"}
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log('success')
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog Berhasil dihapus',
                })
                this.close()
                this.$router.go(-1)
                })
            .catch((response)=>{
              console.log('gagal')
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
        },
         ...mapActions({
          setAlert : 'alert/set',
          setToken : 'auth/setToken',
          setUser : 'auth/setUser',
          checkToken : 'auth/checkToken',
    })
    },
    computed : {
        ...mapGetters({
    params : 'dialog/params',
    guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
    mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
}
</script>