<template>
    <v-card>
        <v-card-title>
          <span class="headline"> <v-icon>mdi-account</v-icon> LOGIN ADMIN</span>
        </v-card-title>
        <v-card-text>
          <v-container>
              <v-form>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="email"
                label="E-Mail"
                required
                append-icon="mdi-email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword? 'text' : 'password'"
                label="Password"
                counter
                @click:append="showPassword = !showPassword"
                ></v-text-field>
              </v-col>
                <v-btn
                    color="success lighten-1"
                    @click="submit"
                    >Login<v-icon right dark>mdi-lock-open</v-icon>
                </v-btn>
                <v-badge
                    class="ml-2"
                    bordered
                    color="primary"
                    icon="mdi-account-arrow-right"
                    overlap
                >
                    <v-btn
                    class="white--text"
                    color="primary"
                    depressed
                    @click="register"
                    >
                    REGISTER
                    </v-btn>
                </v-badge>
            </v-row>
              </v-form>
          </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    data () {
        return {
            email :'',
            showPassword : false,
            password : '',
            apiDomain : "https://demo-api-vue.sanbercloud.com"
        }
    },
    methods:{
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
        }),
        close(){
            this.$emit('closed',false)
        },
        submit(){
            const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/auth/login",
                data : {
                    'email' : this.email,
                    'password' : this.password
                }
            };
            this.axios(config)
            .then((response)=>{
                
                this.setToken(response.data.access_token)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Login Berhasil',
                })
                this.close()
            })
            .catch((response)=>{
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Login Gagal',
                })
            })
        },
        register(){
          this.setDialogComponent({'component' : 'register'})
        },
        ...mapActions({
          setAlert : 'alert/set',
          setDialogComponent : 'dialog/setComponent',
        })
    },
}
</script>