<template>
    <v-card>
      <div style="min-height: 4px;">
      </div>
        <v-card-title>
          <span class="headline"> <v-icon>mdi-account</v-icon> REGISTER ADMIN</span>
        </v-card-title>
        <v-card-text>
          <v-container>
              <v-form>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="email"
                label="E-Mail"
                required
                append-icon="mdi-email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="name"
                label="Name"
                required
                append-icon="mdi-account"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword? 'text' : 'password'"
                label="Passwords"
                counter
                @click:append="showPassword = !showPassword"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
              <v-file-input
                v-model="photo"
                counter
                show-size
                accept="image/*"
                label="Profile Photo"
                truncate-length="14"
              ></v-file-input>
              </v-col>
              <v-col cols="12">
              <!-- <v-file-input
            counter
            show-size
            truncate-length="15">
              </v-file-input> -->
              <v-progress-linear
          v-model="valueProgress"
          :active="showProgress"
          :indeterminate="queryProgress"
          :queryProgress="true"
        ></v-progress-linear>
              </v-col>
                <v-badge
                    bordered
                    color="primary"
                    icon="mdi-account-arrow-right"
                    overlap
                >
                    <v-btn
                    class="white--text"
                    color="primary"
                    depressed
                    @click="register"
                    >
                    REGISTER
                    </v-btn>
                </v-badge>
            </v-row>
              </v-form>
          </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    data () {
        return {
            email :'',
            name : '',
            showPassword : false,
            password : '',
            photo : [],
            valueProgress: 0,
            queryProgress: false,
            showProgress: false,
            intervalProgress: 0,
            apiDomain : "https://demo-api-vue.sanbercloud.com"
        }
    },
    methods:{
        ...mapActions({
            setAlert : 'alert/set',
            }),
        close(){
            this.$emit('closed',false)
        },
        register(){
                      this.queryAndIndeterminate()
                      let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('email', this.email)
                        formData.append('password', this.password)
                        formData.append('photo_profile', this.photo)
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/auth/register",
                data : formData
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Pendaftaran Berhasil',
                })
                this.close()
            })
            .catch((response)=>{
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Pendaftaran Gagal',
                })
            })
        },
        queryAndIndeterminate () {
        this.queryProgress = true
        this.showProgress = true
        this.valueProgress = 0

        setTimeout(() => {
          this.query = false

          this.interval = setInterval(() => {
            if (this.valueProgress === 100) {
              clearInterval(this.interval)
              this.showProgress = false
              return setTimeout(this.queryAndIndeterminate, 2000)
            }
            this.valueProgress += 25
          }, 1000)
        }, 2500)
      },
    },
}
</script>