<template>
  <v-timeline
    align-top
    :dense="$vuetify.breakpoint.smAndDown"
  >
    <v-timeline-item
      v-for="(item, i) in isi"
      :key="i"
      :color="item.color"
      :icon="item.icon"
      fill-dot
    >
      <v-card
        :color="item.color"
        dark
      >
        <v-card-title class="title">
          {{item.nama}}
        </v-card-title>
        <v-card-text class="white text--primary">
          <p>{{item.isi}}</p>
          <v-btn
            :color="item.color"
            class="mx-0"
            outlined
          >
            Button
          </v-btn>
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>
<script>
  export default {
    data: () => ({
      isi : [
        {
            isi : 'cobain',
            nama : 'Adib Bachtiar',
            color: 'red lighten-2',
            icon: 'mdi-star', 
        }   ,       
        {
            isi : 'cobain 2',
            nama : 'Azam Fuadi',
            color: 'red lighten-2',
            icon: 'mdi-star',
        }   ,       
        {
            isi : 'cobain 3',
            nama : 'Fahmi Reza',
            color: 'green lighten-1',
            icon: 'mdi-airballoon',
        }   ,       
        {
            isi : 'cobain 4',
            nama : 'Dzaky Iqbal',
            color: 'indigo',
            icon: 'mdi-buffer',
        }   ,       
      ],
    }),
  }
</script>