<template>
      <v-card>
        <v-card-title>
          <span class="headline">Upload Blog Picture</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
              >
                <v-file-input
                v-model="photo"
                counter
                show-size
                accept="image/*"
                label="Profile Photo"
                truncate-length="14"
              ></v-file-input>
              </v-col>
              </v-row>
              <v-row>
                <v-col
                cols="12"
                >
                <v-progress-linear
                  v-model="valueProgress"
                  :active="showProgress"
                  :indeterminate="queryProgress"
                  :queryProgress="true"
                ></v-progress-linear>
                </v-col>
              </v-row>
          </v-container>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="upload"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-card>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: () => ({
        apiDomain : "https://demo-api-vue.sanbercloud.com",
            photo : [],
            valueProgress: 0,
            queryProgress: false,
            showProgress: false,
            intervalProgress: 0,
    }),
    methods : {
        close(){
            this.$emit('closed',false)
        },
        upload(){
          this.queryAndIndeterminate()
          let id = this.params
          let formData = new FormData()
                        formData.append('photo', this.photo)
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog/"+id+"/upload-photo",
                headers : {'Authorization': 'Bearer ' + this.token},
                data : formData
                // params : {_method : "DELETE"}
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log("success")
                  this.dequeryAndIndeterminate()
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Berhasil Upload Photo',
                })
                this.close()
                this.$router.go(-1)
                })
            .catch((response)=>{
              console.log('gagal')
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
        },
         ...mapActions({
          setAlert : 'alert/set',
          setToken : 'auth/setToken',
          setUser : 'auth/setUser',
          checkToken : 'auth/checkToken',
    }),
    queryAndIndeterminate () {
        this.queryProgress = true
        this.showProgress = true
        this.valueProgress = 0

        setTimeout(() => {
          this.query = false

          this.interval = setInterval(() => {
            if (this.valueProgress === 100) {
              clearInterval(this.interval)
              this.showProgress = false
              return setTimeout(this.queryAndIndeterminate, 2000)
            }
            this.valueProgress += 25
          }, 1000)
        }, 2500)
      },
      dequeryAndIndeterminate(){
        this.queryProgress = false
        this.showProgress = false
        this.valueProgress = 0

        setTimeout(() => {
          this.query = false

          this.interval = setInterval(() => {
            if (this.valueProgress === 100) {
              clearInterval(this.interval)
              this.showProgress = false
              return setTimeout(this.queryAndIndeterminate, 2000)
            }
            this.valueProgress += 25
          }, 1000)
        }, 2500)
      },
    },
    computed : {
        ...mapGetters({
    params : 'dialog/params',
    guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
    mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
}
</script>