<template>
    <v-container>
    <v-btn
        class="mx-2"
        fab
        dark
        color="success"
        @click="reload"
    >
        <v-icon dark>
            mdi-arrow-left
        </v-icon>
    </v-btn>
    <v-layout wrap>
        <v-card
            class="mx-auto"
            width="300"
            style="margin-bottom: 50px;"
            v-for="blog in blogs"
            :key="`blog-`+blog.id"
            :blog="blog"
        >
        <v-img
        :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
        class="white--text"
        height="200px"
        ></v-img>

        <v-card-title v-text="blog.title">
        </v-card-title>

        <v-card-actions>
        <v-btn
            color="orange lighten-2"
            text
            @click="alert"
        >
            More Details
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
            icon
            @click="show = !show"
        >
            <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
        </v-card-actions>

        <v-expand-transition>
        <div v-show="show">
            <v-divider></v-divider>

            <v-card-text
            v-text="blog.title"
            ></v-card-text>
        </div>
        </v-expand-transition>
    </v-card>
    </v-layout>
    <v-pagination
        v-model="page"
        @input="hal"
        :length="lengthPage"
        :total-visible="4"
    >

    </v-pagination>
    </v-container>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    data : () =>({
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        show : false,
        blogs : [],
        page : 0,
        lengthPage : 0,
        perPage : 0,
    }),
    
    methods : {

        ...mapActions({
            setAlert : 'alert/set'
        }),

        go(){
            const config = {
                method : 'get',
                url : this.apiDomain + '/api/v2/blog/random/6'
            }

            this.axios(config)
            .then(response => {
                let {blogs} = response.data;
                this.blogs = blogs;

                console.log(this.blogs)
            })
            .catch(error=> {
                console.log(error);
            });

        },

        hal(){
            const config = {
                method: "get",
                url: this.apiDomain + "/api/v2/blog?page=" + this.page
            };

            this.axios(config)
            .then(response =>{
                let {blogs} = response.data
                this.blogs = blogs.data
                this.page = blogs.current_page
                this.lengthPage = blogs.last_page
                this.perPage = blogs.per_page
                console.log(this.blogs);
            })
            .catch(
                error => {
                console.log(error);
            });
        },

        alert() {
            this.setAlert({
                status : true,
                color : 'success',
                text : 'Harus Melakukan Login Terlebih Dahulu',
            })
        },

        reload() {
            location.reload()
        }
    },

    created(){
        this.go()
        this.hal()
    }
}
</script>