<template>
  <v-hover
  v-slot:default="{hover}"
  >
  <v-carousel
    cycle
    height="400"
    hide-delimiter-background
    show-arrows-on-hover
  >
    <v-carousel-item
      v-for="blog in blogs"
      :key="`blog-`+blog.id"
      :blog="blog"
      :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
      reverse-transition="fade-transition"
      transition="fade-transition"
    >
    <v-overlay v-if="hover"
    absolute>
        <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
          <div class="display-3 white--text"
          align="center"
          color="blue"
          >
            {{ blog.title }}
          </div>
        </v-row>
    </v-overlay>
    </v-carousel-item>
  </v-carousel>
   </v-hover>
</template>
<script>
export default {
    data: () => ({
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
  }),
  methods : {
    go(){
      const config = {
      method : 'get',
      url : this.apiDomain + '/api/v2/blog/random/6'
    }

      this.axios(config)
      .then(response => {
        let {blogs} = response.data;
        this.blogs = blogs;

        console.log(this.blogs)
      })
      .catch(error=> {
        console.log(error);
      });

    },

    viewBlogs() {
      this.$emit('allblogs', true)
    }
  },
  created(){
    this.go()
  }
}
</script>