<template>
  <!-- App.vue -->
<v-app>
  <alert/>
  <Dialog/>
  <v-navigation-drawer app v-model="drawer" v-if="!guest">
    <v-list>
      <v-list-item v-if="!guest">
      <v-list-item-avatar>
        <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/78.jpg'"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{user.name}}</v-list-item-title>
      </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="success">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>
      </div>
      <v-divider></v-divider>
      <div v-if="!guest">
      <v-list-item
      v-for="(item, index) in menus"
      :key="`menu-${index}`"
      :to="item.route"
      >
        <v-list-item-icon>
          <v-icon left>{{ item.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{item.title}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      </div>

    </v-list>
    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-lock</v-icon>
          Logout
        </v-btn>  
      </div>
    </template>
  </v-navigation-drawer>

  <v-app-bar app color="white">
    <v-app-bar-nav-icon v-if="!guest" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-icon
      large
      color="blue darken-2"
    >
      mdi-alpha-r-circle
    </v-icon>
    <v-icon
      large
      color="red darken-2"
    >
      mdi-alpha-a-circle
    </v-icon>
    <v-icon
      large
      color="green darken-2"
    >
      mdi-alpha-w-circle
    </v-icon>
    <v-toolbar-title class="ml-2">Blog Apps</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            href="https://distracted-nobel-a1d09b.netlify.app/"
            target="_blank"
          >
            <v-list-item-title>Wahyu Project</v-list-item-title>
          </v-list-item>
          <v-list-item
            href="https://blog-project-vue.netlify.app"
            target="_blank"
          >
            <v-list-item-title>Rully Project</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    <v-btn
    v-if="guest"
    class="ml-2"
      elevation="2"
      color="primary"
      @click="login"
    >LOGIN</v-btn>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>
    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <div class="text-right">
        <v-btn small text @click="AllBlogs = true" class="green--text"
        style="margin-bottom: 15px"
        v-if="!AllBlogs && guest"
        >
          View All Blogs <v-icon style="margin-left: 5px">mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-slide-y-transition >

          <div v-if="guest && !AllBlogs">
            <Welcome/>
            <Author/>
          <v-divider></v-divider>
          </div>
          <div v-if="guest && AllBlogs">
            <ViewBlogs/>
            <v-divider></v-divider>
          </div>
      <router-view v-else-if="!guest"></router-view>

      </v-slide-y-transition>
      </v-container>
  </v-main>

  <v-footer app
    dark
    padless
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="teal">
        <strong class="subheading">Web Apps by Wahyu, Adib and Rully</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="py-2 white--text text-center">
        {{ new Date().getFullYear() }} — <strong>RAW Team</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'App',
  components : {
    alert : () => import('./components/Alert.vue'),
    Dialog : () => import('./components/Dialog.vue'),
    Welcome : () => import('./components/WelcomeComponent.vue'),
    Author : () => import('./components/AuthorComponent.vue'),
    ViewBlogs : () => import('./components/ViewAllBlogsComponent'),
  },

  data: () => ({
    drawer : false,
    menus : [
      {title : 'Home', icon : 'mdi-home', route : '/'},
      {title : 'Blogs', icon : 'mdi-application', route : '/blogs'},
      {title : 'Add Blog', icon : 'mdi-pen-plus', route : '/add-blog'},
    ],
    icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    AllBlogs : false,

  }),
  computed:{
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    }),
    
  },
  methods:{
    logout(){
      let config = {
        method: 'post',
        url : this.apiDomain+'/api/v2/auth/logout',
        headers: {
          'Authorization': 'Bearer '+this.token,
        },
      }
      this.axios(config)
      .then(()=>{
        this.setToken('')
        this.setUser({})
        this.setAlert({
        status : true,
        color : 'success',
        text : 'Anda Berhasil Logout'
      })
      })
      .catch((responses)=> {
        console.log(responses)
        this.setAlert({
        status : true,
        color : 'error',
        text : 'Anda Gagal Logout'
      })
      })
      
    },
    login(){
      this.setDialogComponent({'component' : 'login'})
    },
    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken',
    }),
  },
  mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
};
</script>
